rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /brackets/nba-2026 {
      allow read: if true;
      allow write: if request.resource.data.keys().hasOnly([
        'updated', 'participants', 'picks',
        'picksSubmitted', 'finalsGap', 'finalsGame1ActualGap'
      ]);
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
